<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>춘;봄</title>
</head>
<body>
	<div id = "header">
		<div class="space-small mid">
			<div class="flag deletemargin">
				Step 1
			</div>
			<h1>
				누구와 결혼하나요?
			</h1>
		</div>
	</div>
	<div id = "content">
			<div class="space-mid">
				<span>
					<img class="avatar circle-medium" src="img/avatar.png" alt="프로필">
				</span>
			</div>
	</div>
</body>
</html>