<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>춘;봄</title>
</head>
<body>
	<body>
		<div id = "header">
			<img style="margin-top:110px" src="img/logo.svg" class="logo mid" alt="춘;봄">
						<div class="subtitle" style="text-align : center">
							정성스런 청첩장을 쉽고 간편하게
						</div>
		</div>
		<div id = "content">
			<span class="small"></span>
			<div class = "space-large">
				<button class = "fab mid" onclick="window.location.href = 'signin_complete.html';">구글 아이디로<br>로그인하기
				</button>
				</div>
		</div>
	</body>
</html>