{% extends 'home/base.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}


{% block content %}

{%if user.is_authenticated %}
		<div id = "header">
			<div class="string-line deletemargin mid"></div>
			<div class="deletemargin">
				<img class="avatar circle-large mid" src='{% static "img/avatar.png" %}' alt="프로필">
			</div>
		</div>
		<div id = "content">
			<div><h1> {{user.email}} 님, 환영합니다.</h1></div>
			<div class="space-mid"></div>
				<a href = "/choosePartner"><button class="fab mid space-medium">
					청첩장 만들기
				</button></a>
		</div>

			<!-- <a href="/accounts/logout">로그아웃</a> <br> -->
			<a href="/logout">로그아웃</a> <br>

{% else %}
		<div id = "header">
			<img style="margin-top:100px" src='{% static "img/logo.svg" %}' class="logo mid" alt="춘;봄">
		</div>
		<div id = "content">
			<div><svg class="shrt-line mid"></svg></div>
			<div class="subtitle">
				정성스런 청첩장을 쉽고 간편하게
			</div>
			<!-- <div><title class="mid">나와랏!</title></div> -->
			<span class="small"></span>
			<div class="space-large">
				<!-- <button class = "fab-bg mid" onclick="window.location.href = '/accounts/signup';">구글 아이디로<br>회원가입하기
				</button> -->
			<!-- <a href="/accounts/signup">회원가입</a> <br> -->
			<!-- <a href = "{% provider_login_url 'google' %}"> <button class = "fab-bg mid">구글 아이디로<br>회원가입하기 </button></a> -->

			<a href = "{% provider_login_url 'google' %}"><button class = "fab mid">구글 아이디로<br>로그인하기
				</button></a>


				<!-- <div class="subtitle" style="margin-top: 40px;">
					이미 회원이신가요?
				</div> -->
				<!-- <a class="flat-btn mid" href="login.html">로그인하기 </a></div> -->
			</div>
		</div>

{% endif %}
	</body>

{% endblock %}