<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>춘;봄</title>
</head>
<body>
	<div id = "header">
		<div class="string-line deletemargin mid"></div>
		<div class="deletemargin">
			<img class="avatar circle-large mid" src="img/avatar.png" alt="프로필">
		</div>
	</div>
	<div id = "content">
			<div><h1>손예지 님, 환영합니다.</h1></div>
			<div class="space-mid"></div>
				<button class="fab mid space-medium" onclick="window.location.href = 'choosePartner.html';">
					청첩장 만들기
				</button>
	</div>
</body>
</html>